@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;400&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&family=Yantramanav:wght@100;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.my-container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto ;
    margin-right: auto;
}
.bg-color{
    background-color: #d2da60;
}
:root {
    --fs-18: 18px;
    --fw-600: 600px;
    --fw-400: 400px;
    --fs-36: 36px;
    --fs-20: 20px;
    --fs-48: 48px;
    --fw-700: 700;
    --fw-400:400;
}
.fw-400{
    font-weight:var(--fw-400);
}
.fs-48{
    font-size: var(--fs-48);
}
.fw-700{
    font-weight: var(--fw-700);
}
.ff {
    font-family: Poppins;
}
.fs-36{
    font-size: var(--fs-36);
}
.fs-20{
    font-size: var(--fs-18);
}
.fw-500{
    font-weight: 500;
}
.fs-18 {
    font-size: var(--fs-18);
}

.fw-600 {
    font-weight: var(--fw-600);
}
.fw-400{ 
    font-weight: var(--fw-400);
}
.c-blue {
    color: #9003e5;
}

.shownav {
    left: 0% !important;
}
.btns-z{
    z-index: 150;
}
.img1{
    z-index: 150;
}
.hero-bg{
    background-image: url(../image/imgb.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.f-style{
    font-style: italic;
}
.fc-c{
    color: #8A3E74;
}
.c-blk{
    color: #000;
}
.btns-color{
    padding: 13px 45px;
    /* border: 2px solid #D528B1; */
    background: #D7E167;
}
.pt-260{
    padding-top: 260px;
}
.fs-24{
    font-size: 24px;
}
.pt-115{
    padding-top: 115px;
}
.pt-130{
    padding-top: 130px;
}
.pb-180{
    padding-bottom: 180px;
} 
.imgb1{
  right: 15px;
    top: 5px;
}
.imgb2{
    bottom: -65px;
    left: 15px;
}
.ml-24{
margin-left: -24px;
}
.mr-24{
    margin-right: -24px;
}
.mt-24{
    margin-top: -24px;
}
.pt-90{
    padding-top: 90px;
}
.pb-90{
    padding-bottom: 90px;
}
.pb-64{
    padding-bottom: 64px;
}
.pt-64{
    padding-top: 64px;
}
.mt-115{
    margin-top: 115px;
}
 .bord-img{
  border-bottom: 2px dashed #000000;
} 
.bord-left{
    border-right: 2px dashed #000000;
}
.d-grid{
    grid-template-columns: auto auto auto auto;
}
.fc-blk{
    color: #000;
opacity: 0.699999988079071;
}
.ml-12{
    margin-left: 12px !important;
}
.ml-60{
    margin-left: 60px !important;
}
.mt-23{
    margin-top: 23px !important;
}
.mb-33{
    margin-bottom: 33px !important;
}
.mt-180{
    margin-top: 180px !important;
} 
.mb-15{
    margin-bottom: 15px !important;
}
.mt-140{
    margin-top: 140px !important;
}
.color1img{
    right: 0px;
    top: 195px;
}
.pt-100-our{
    padding-top: 100px !important;
}
.pb-15-our{
    padding-bottom: 15px;
}
.color2img {
    left: 0;
    top: 15px;
}
.cards{
    border-radius: 40px;
        background: #EEE;
        width: 100%;
}
.ml-162{
   margin-left: 162px;
}
.pl-136 {
    padding-left: 136px;
}

.pt-54 {
    padding-top: 54px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-53 {
    margin-bottom: 53px;
}

.pl-250 {
    padding-left: 250px;
}

.pl-15 {
    padding-left: 15px;
}

.f-c {
    color: #010080;
}

.fs-64 {
    font-size: 64px;
}

.fc-white {
    color: #ffffff;
    padding: 11px 34px;
    border-radius: 4px;
    background: #010080;
    border: none;
}

.text-justify {
    text-align: justify;
}

.max-width-471 {
    max-width: 471px;
}
.mt-263{
    margin-top: 263px;
}
.mb-160 {
    margin-bottom: 160px;
}
.imgu1{
   right: 360px;
    top: -130px;
}
.imgdd1{
    top: -200px;
    left: 80px;
}



 /* Responsive start page */
.col-12{
   width: 100%;
}
.d-grid {
     grid-template-columns: auto;
 }
 .imgig22{
    margin-bottom: 42px;
 }
 
@media (max-width:992px) {
    #nav_bar1 {
        left: -100%;
        flex-direction: column;
        position: fixed;
        top: 0;
        align-items: center;
        text-align: center;
        justify-content: center !important;
        background-color: #d2da60;
        width: 100% !important;
        height: 100% !important;
        z-index: 100 !important;
       transition: 400ms ;
    }
}
@media (min-width:576px) {
    .d-grid {
            grid-template-columns: auto;
        }
}
@media (min-width:768px) {
    .d-grid {
            grid-template-columns: auto auto;
        }
}
@media (min-width:992px) {
    .d-grid {
            grid-template-columns: auto auto auto;
        }
}
@media (min-width:1200px) {
    .d-grid {
            grid-template-columns: auto auto auto auto;
        }
}
@media (min-width:1400px) {
    
}